<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Plant House!</title>
    <link rel='stylesheet' href='/css/jass.css' />
    <link rel='stylesheet' href='/css/style.css' />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>

  <body class="body">
    <div class='flex-column justify-space-around'>
      <header class='display-flex justify-space-between align-center p-2' id="header">
        <h1>
          <span role='img' aria-label='Plant'>☘️</span>
          <a id="title" href='/'>Your plant house!</a>
          <span role='img' aria-label='House'></span><!--Add house emoji-->
        </h1>
        <nav class="nav-bar">
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
            <a href='/api/categories' class="btn btn-outline-success">Category</a>
            <a href='/api/locations' class="btn btn-outline-success">Location</a>
            <a href='/api/schedule' class="btn btn-outline-success">Watering Schedule</a>
            <button class="btn btn-outline-success" id='logout'>logout</button>
          {{else}}
            <a href='/' class="btn btn-outline-success">Back to home</a>
          {{/if}}
        </nav>
      </header>
      <main class='container container-fluid mt-5'>
        
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script
        src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.min.js'
      ></script>
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>