<div class='row'>
  <div class='col-md-6'>
    <h2>Add a Category</h2>
    <form class='form plant-form'>
      <div class='form-group'>
        <label for='catgeory-name'>name:</label>
        <input class='form-input' type='text' id='category-name' />
      </div>

      <div class='form-group'>
        <button
          id='add-submit'
          data-category='{{category_id}}'
          class='btn btn-primary'
          type='submit'
        >ADD PLANT</button>
      </div>
    </form>
  </div>
  </div>

</div>

<script src='../../../js/plant.js'></script>