<image src="/assets/images/main-page-background.jpg" alt="Homepage-image" id="backround-image"></image>
<div>
    <h2 id="welcome-text">Welcome to Your Plant House!</h2>
    <p id="welcome-text2">An exclusive platform for new and expericenced plant parents to create their online garden. This can be used for
        plants that are already owned and planted or for plants thet you might want to own in the future. Enough about
        me! sign up and explore your new online garden!☘️</p>
    <a href="/login" type="button" class="btn btn-outline-success" id="login-btn">Login</a>
</div>
<div>
    <a href="/signup" type="button" class="btn btn-outline-success" id="signup-btn">Sign up</a>
</div>
