.body {
  background-color: #bbe7e1;
}

#title {
  color: #c5e7c5;
  font-family: 'Courier New', Courier, monospace;
}

#header {
  background-color: #6ea49d;
}

header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  

  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #216e2c;
    text-decoration: none;
    font-size: 100%;
  }
  
  
  .no-button:hover {
    color: #216e2c;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
    
  }
    #login-btn {
    display: inline-flex;
    position: absolute;
    top: 750px;
    right: 1135px;
    width: 200px;
  }

  #signup-btn {
    display: inline-flex;
    position: absolute;
    top: 750px;
    right: 605px;
    width: 200px;
  }

  #backround-image {
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    bottom: 48px;
    position: relative;
    opacity: 50%;
  }

#welcome-text {
  position: absolute;
  top: 100px;
  right: 1000px;
  text-align: center;
  color: #056605;
  font-weight: bold;
}

#welcome-text2 {
  position: absolute;
  top: 150px;
  width: 1250px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#category-card {
  width: 30vw;
  background-color: #7b9440;
}

#category-title {
  font-family: 'Courier New', Courier, monospace;
  color: #216e2c;
}

#category-detail {
  background-color: #7b9440;
}