.body {
  background-color: #bbe7e1;
}

#title {
  color: #c5e7c5;
  font-family: 'Courier New', Courier, monospace;
}

#header {
  background-color: #6ea49d;
}

header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  

  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #216e2c;
    text-decoration: none;
    font-size: 100%;
  }
  
  
  .no-button:hover {
    color: #216e2c;
    text-decoration: underline;
  }
  
  .dollar-amount {
    color: #056605;
    font-weight: bold;
    margin-left: -5px;
    
  }
    #login-btn {
    display: inline-flex;
    position: absolute;
    top: 750px;
    right: 1135px;
    width: 200px;
  }

  #signup-btn {
    display: inline-flex;
    position: absolute;
    top: 750px;
    right: 605px;
    width: 200px;
  }

  #backround-image {
    min-height: 100%;
    min-width: 1024px;
    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    bottom: 48px;
    position: relative;
    opacity: 50%;
  }

#welcome-text {
  position: absolute;
  top: 100px;
  right: 1000px;
  text-align: center;
  color: #056605;
  font-weight: bold;
}

#welcome-text2 {
  position: absolute;
  top: 150px;
  width: 1250px;
  text-align: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

#category-card {
  width: 30vw;
  background-color: #7b9440;
}

#category-title {
  font-family: 'Courier New', Courier, monospace;
  color: #216e2c;
}

#category-detail {
  background-color: #7b9440;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* css for laptops */
@media screen and (max-width: 1520px) {
  #login-btn {
    right: 940px;
  }

  #signup-btn {
    right: 412px;
  }

  #welcome-text {
    right: 800px;
  }
}
/* css for modile phones */
@media screen and (max-width: 768px) {
  #login-btn {
    right: 430px;
    top: 420px;
  }

  #signup-btn {
    right: 150px;
    top: 420px;
  }

  #welcome-text {
    right: 180;
  }

  #welcome-text2 {
    width: 80vw;
  }

  #background-image {
    min-width: 1px;
    min-height: 100%;

    
    /* Set up proportionate scaling */
    width: 100%;
    height: auto;
    
    /* Set up positioning */
    bottom: 48px;
    position: relative;
    opacity: 50%;
  }
}